*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/background_home_1.png);
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
    opacity: 0.5;
}

.container {
    overflow-x: hidden;
    overflow-y: hidden;
}

.form-control {
    width: 300px;
    margin: 150px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
}

.form-title {
    color: rgb(207, 68, 92);
    font-weight: bold;
    font-size: 30px;
    font-weight: bold;
}

.form-control img {
    width: 100%;
    height: 100%;
    background-size: cover;
    margin: -10px 0;
}

.form-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 16px;
    color: rgb(255, 92, 119);
    font-weight: bold;
    font-size: 20px;
}

.form-submit {
    width:100%;
    padding: 10px;
    margin-top: 4px;
    background-color: rgb(255, 92, 119);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}