*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(/Ngoc/assets/img/background_1.jpg);
}

.login-form {
  width: 300px;
  margin: 200px auto;
  text-align: center;
  position: relative;
}

.form-title {
    color: rgb(255, 73, 103);
    font-weight: bold;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 10px;
  border: none;
}

.login-btn {
  width: 100%;
  padding: 10px;
  margin-top: 4px;
  background-color: rgb(255, 92, 119);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.login-btn:hover {
    opacity: 0.7;
}

.forgot-pass {
    margin-top: 10px;
}

.forgot-pass a {
    margin-top: 10px;
    color: rgb(204, 69, 91);
    font-weight: bold;
    text-decoration: none;
}

.heart-background {
  content: '';
  top: -215px;
  left: -240px;
  width: 770px;
  height: 750px;
  position: absolute;
  background: url(/Ngoc/assets/img/background_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  text-align: center;
}

.modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-body p{
    margin: 0;
}

.modal-body-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 750px;
}

.modal-body-login img {
    width: 500px;
    height: 650px;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.form-message {
    font-size: 0.9rem;
    margin-top: 4px;
    color: red;
}